#version=ALMALINUX-9.1
# System authorization information
auth --enableshadow --passalgo=sha512

# Use text mode install
text

# Run the Setup Agent on first boot
firstboot --enable

# System keyboard
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# TimeZone
timezone America/New_York --utc

# Network settings
network --bootproto=dhcp --device=link --activate --onboot=on

# Root password
rootpw --plaintext "changeme"

# Firewall configuration
firewall --enabled --service=ssh

# SELinux configuration
selinux --enforcing

# Services to enable
services --enabled="chronyd"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda

# Partitioning
autopart --type=lvm

# Reboot after installation
reboot

# Use the AlmaLinux 9.1 repositories
url --url=https://repo.almalinux.org/almalinux/9.1/BaseOS/x86_64/kickstart/

# Additional repositories
repo --name="AppStream" --baseurl=https://repo.almalinux.org/almalinux/9.1/AppStream/x86_64/kickstart/

%packages
@^minimal-environment
@core
kexec-tools
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'
%end


# pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
# pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
# pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
